*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(255, 255, 255);
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.nav ul li{
    padding: 20px 10px;
    list-style: none;
    
}
.nav ul li a{
    text-decoration: none;    
}
.nav ul li a .img{
    border-radius: 50%;   
}
.arifbillah {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.Ar {
    color: rgb(26, 116, 235);
}
.if {
    color: rgb(233, 62, 56);
    margin-right: 20px;
}
.Bi{
    color: rgb(255, 166, 0);
}
.ll{
    color: rgb(26, 116, 235);
}
.ah{
    color: green;
}
.input{
    font-size: 35px;
    border-radius: 25px;
    border: 1px rgb(153, 182, 236) solid;
    display: flex;
    flex-basis: 400px;
    margin-left: 300px;
    margin-right: 300px;
    
}
.a-input{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
.button .btn{
    padding: 10px 15px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
}
p a{
    text-decoration:none;
}
.p-tag{
    display: flex;
    justify-content: center;
    margin-top: 1px;
}
.footer-last a{
    text-decoration: none;
    list-style: none;
    color: black;
    
}
.footer{
    background-color: rgb(243, 241, 237);
}
.bangladesh{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
    
}
.footer-last ul{
    display: flex;
    padding-left: 20px;
    
}
.footer-last ul li{
    
    padding-right: 25px;
    list-style: none;
    padding-top: 20px;
}